.ctg-main-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.ctg-title-container{

}
.ctg-title{

}
.ctg-container{

}
.ctg-link{

}
.ctg-span{
    
}